@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf');
   font-weight: 700;
}
@font-face {
   font-family: 'Comfortaa';
   src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
   font-weight: 400;
}
@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
   font-weight: 700;
}
@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
   font-weight: 400;
}
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Medium.ttf');
   font-weight: 500;
}
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Regular.ttf');
   font-weight: 400;
}

@font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/Webfonts/fa-regular-400.ttf');
   font-weight: 400;
}
@font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/Webfonts/fa-duotone-900.ttf');
   font-weight: 900;
}

.fad{
   font-family: 'FontAwesome';
   font-weight: 900;
   font-style: normal;
   font-size: 40px;
}
.fa-play::before{
   content: '\f04b';
   position: absolute;
   color: #fff;
}
.fa-play::after{
   content: '\10f04b';
   color: rgba(255, 255, 255, 0.5);
}
.far{
   font-family: 'FontAwesome';
   font-weight: 400;
   font-style: normal;
   font-size: 50px;
   color: #fff;
}
.fa-film::before{
   content: '\f008';
}
